.app {
  height: 100vh;
  overflow: hidden;
  background-color: #fef9f5;
}

.main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
  position: relative;
}

